@model task_53.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <label>Select brand: </label>
    <select name="brandId" class="form-control">
        @foreach (Brand brand in Model.Brands)
        {
            <option value="@brand.Id">@brand.Name</option>
        }
    </select>
    <input type="submit"/>
}

<table class="table">
   @foreach (Perfume u in Model.Perfumes)
       {
           <tr>
               <td>@u.Name</td>
               <td>
                   @String.Format("{0} hours, {1} minutes, {2} seconds, {3} milliseconds", 
                       u.LifeTime.Hours, u.LifeTime.Minutes, u.LifeTime.Seconds, u.LifeTime.Milliseconds)
               </td>  
               <td>@u.Price</td>
               <td>@u.Brand.Name</td>
           </tr>
       }
</table>