@model task_53.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <label>Select brand: </label>
    <select name="brandId" class="form-control">
        @foreach (Brand brand in Model.Brands)
        {
            <option value="@brand.Id">@brand.Name</option>
        }
    </select>
    <input type="submit"/>
}

<table class="table">
   @foreach (Perfume u in Model.Perfumes)
       {
           <tr><td>@u.Name</td><td>@u.Price</td><td>@u.Brand.Name</td></tr>
       }
</table>