@using task_53.ViewModels
@using task_53.Models
@using task_53.ViewModels
@model task_53.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<form class="form-inline">
    <label>Select brand: </label>
    <select name="brandId" class="form-control">
        @foreach(BrandModel brand in Model.Brands)
        {
            <option value="@brand.Id">@brand.Name</option>
        }
    </select>
    <input type="submit" />
</form>
<br />
<table class="table">
    @foreach (Perfume p in Model.Perfumes)
    {
        <tr>
            <td>@p.Name</td>
            <td>
                @String.Format("{0} days, {1} hours, {2} minutes, {3} seconds", p.LifeTime.Days, p.LifeTime.Hours, p.LifeTime.Minutes, p.LifeTime.Seconds)
            </td>
            <td>@p.Brand?.Name</td>
            <td>@p.Price</td>
        </tr>
    }
</table>